.bg-perso {
    background-color: #17A52E;
}
.bg-chance {
    background-color: #E7E03C;
}
.bg-attention {
    background-color: #C32A21;
}
input, .bouton {
    background-color: #D9D9D9;
}
.main {
    background-color: #F4F4F4;
}